.graph-and-loading-icon-wrapper {
  position: relative;
}

.loading-icon-wrapper {
  position: absolute;
  width: 100%;
  top: 280px;
}

#graph-vis,
#vis {
  margin: auto;
  width: 100%;
  height: 100% !important;
}

canvas {
  width: 1100px;
  height: 600px !important;
}
